/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

@import 'variables';
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html, body {
    
    margin:0; padding:0;
    overflow-y:hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    min-height: 568px;
}
.fas{
    cursor: pointer;
}

main{
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}